.owl-stage {
    height: 600px;
    margin-top: 100px;
    padding-top: 100px;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.slider-item {
    padding: 32px;
    box-sizing: border-box;
    background-color: #d2ffe5;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.1);
}
.top-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.name-position {
    text-align: left;
}
.rating {
    text-align: right;
    color: #d64fff;

}
.review-text {
    width: 100%;
}

.owl-carousel .owl-item {
    transition: transform 0.3s ease;
}

.owl-carousel .owl-item.center .slider-item {
    transform: scale(1.2);
    max-width: 630px;
    margin: 0 auto;
}

.owl-carousel .owl-item:not(.center) .slider-item {
    transform: scale(0.8);
}
